In [1]:
import re
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('C:/Users/Aaryan/Desktop/Random/Datasets/date_parser_testcases.csv')
df

                                                Input Expected Output
0         The event will take place on March 5, 2023.      05/03/2023
1                      Her birthday is on 07/08/1990.      07/08/1990
2                         The deadline is 2022-12-31.      31/12/2022
3                      We met on 1st of January 2000.      01/01/2000
4   The concert is scheduled for 15th September, 2...      15/09/2021
..                                                ...             ...
95  We celebrate Independence Day on 2023-07-04, a...      04/07/2023
96  The final date for submission is 30th November...      30/11/2022
97  The annual conference is on 15th October 2023,...      15/10/2023
98  His birthdate, noted as 1990-05-20, is in the ...      20/05/1990
99  The festival will be celebrated on 12th August...      12/08/2024

[100 rows x 2 columns]

In [3]:
def extract_date(text):
    date_patterns = [
        r"(\d{1,2})(?:st|nd|rd|th)?(?: of)?\s+([A-Za-z]+),?\s+(\d{4})",  # e.g., 21st June, 2024 or 1st of January 2000
        r"(\d{4})-(\d{1,2})-(\d{1,2})",  # e.g., 2022-12-31
        r"(\d{1,2})/(\d{1,2})/(\d{4})"  # e.g., 07/08/1990
    ]

    month_names = {
        'January': '01', 'February': '02', 'March': '03', 'April': '04',
        'May': '05', 'June': '06', 'July': '07', 'August': '08',
        'September': '09', 'October': '10', 'November': '11', 'December': '12',

        'Jan': '01', 'Feb': '02', 'Mar': '03', 'Apr': '04',
        'Jun': '06', 'Jul': '07', 'Aug': '08',
        'Sep': '09', 'Oct': '10', 'Nov': '11', 'Dec': '12'
    }

    for pattern in date_patterns:
        match = re.search(pattern, text)
        if match:
            if pattern == date_patterns[0]:  
                day, month_str, year = match.groups()
                month = month_names.get(month_str)
            elif pattern == date_patterns[1]:  
                year, month, day = match.groups()
            elif pattern == date_patterns[2]:  
                day, month, year = match.groups()

            # Format day and month as two-digit numbers
            day = day.zfill(2)
            month = month.zfill(2)

            return f"{day}/{month}/{year}"

    return "No valid date found"

In [4]:
df['Extracted Date'] = df['Input'].apply(extract_date)

In [6]:
print(df[['Expected Output', 'Extracted Date']])

   Expected Output       Extracted Date
0       05/03/2023  No valid date found
1       07/08/1990           07/08/1990
2       31/12/2022           31/12/2022
3       01/01/2000           01/01/2000
4       15/09/2021           15/09/2021
..             ...                  ...
95      04/07/2023           04/07/2023
96      30/11/2022           30/11/2022
97      15/10/2023           15/10/2023
98      20/05/1990           20/05/1990
99      12/08/2024           12/08/2024

[100 rows x 2 columns]

In [7]:
correct_matches = df['Extracted Date'] == df['Expected Output']
accuracy = correct_matches.mean() * 100

In [8]:
print(accuracy)

45.0

In [9]:
print(f"Accuracy: {accuracy:.2f}%")

Accuracy: 45.00%

In [13]:
df.head(10)

,Input,Expected Output,Extracted Date
0,"The event will take place on March 5, 2023.",05/03/2023,No valid date found
1,Her birthday is on 07/08/1990.,07/08/1990,07/08/1990
2,The deadline is 2022-12-31.,31/12/2022,31/12/2022
3,We met on 1st of January 2000.,01/01/2000,01/01/2000
4,"The concert is scheduled for 15th September, 2...",15/09/2021,15/09/2021
5,Let's catch up on 02.04.2022.,02/04/2022,No valid date found
6,The project started on 5/6/19.,05/06/2019,No valid date found
7,He was born on 1987/11/23.,23/11/1987,No valid date found
8,Christmas is on 25th Dec 2024.,25/12/2024,25/12/2024
9,"The meeting is set for April 03, 2020.",03/04/2020,No valid date found

In [12]:
mismatches = df[~correct_matches]

print("\nMismatched Entries:")
print(mismatches[['Input', 'Expected Output', 'Extracted Date']])

Mismatched Entries:
                                                Input  Expected Output  \
0         The event will take place on March 5, 2023.       05/03/2023
5                       Let's catch up on 02.04.2022.       02/04/2022
6                      The project started on 5/6/19.       05/06/2019
7                          He was born on 1987/11/23.       23/11/1987
9              The meeting is set for April 03, 2020.       03/04/2020
12                       The exam date is 2021.11.10.       10/11/2021
13                      They got married on 12/12/12.       12/12/2012
14            The workshop is on February 15th, 2022.       15/02/2022
15                  Submit your report by 08/31/2021.       31/08/2021
18                        His birthday is 1995/10/30.       30/10/1995
19                 The new year begins on 01-01-2023.       01/01/2023
20                      The seminar is on 03/14/2022.       14/03/2022
21                         My last day is 31.08.2020.       31/08/2020
23              The holiday starts on Dec 20th, 2021.       20/12/2021
25                       They moved in on 12/25/2019.       25/12/2019
26             The festival begins on March 17, 2022.       17/03/2022
27                     The ceremony is on 11.11.2021.       11/11/2021
28                        The event is on 2023/07/04.       04/07/2023
29               Her graduation is on May 30th, 2022.       30/05/2022
36                        The deadline is 2020.12.15.       15/12/2020
37                        The party is on 31-12-2022.       31/12/2022
38              The workshop is on February 29, 2024.       29/02/2024
39                     Vacation starts on 07/15/2021.       15/07/2021
41               The tournament is on June 1st, 2021.       01/06/2021
43                      The concert is on 2020/09/09.       09/09/2020
44                         The exam is on 01.01.2022.       01/01/2022
50                                              Input  Expected Output
51  We are planning to meet on March 5, 2023, for ...       05/03/2023
56   Remember, the meeting is on 02.04.2022 at 10 AM.       02/04/2022
57  Let's wrap up the project by 5/6/19, so we can...       05/06/2019
58  His birth date, recorded as 1987/11/23, was a ...       23/11/1987
59  We celebrate Christmas every year on 25th Dec,...       25/12/2024
60  The meeting is rescheduled to April 03, 2020, ...       03/04/2020
62  The official exam date is now 2021.11.10, per ...       10/11/2021
63  They celebrated their wedding on 12/12/12 in g...       12/12/2012
64  Our next workshop is scheduled for February 15...       15/02/2022
65  The submission deadline, noted as 08/31/2021, ...       31/08/2021
67  We celebrate Independence Day on the 4th of Ju...       04/07/2022
68  He mentioned that his birth date is 1995/10/30...       30/10/1995
69  The new year's celebration begins on 01-01-202...       01/01/2023
70  We scheduled the seminar for 03/14/2022, don't...       14/03/2022
71  My final working day here is noted as 31.08.2020.       31/08/2020
73  The holiday vacation starts on Dec 20th, 2021,...       20/12/2021
75            They officially moved in on 12/25/2019.       25/12/2019
76  Our festival starts on March 17, 2022, with a ...       17/03/2022
77          The ceremony date is fixed as 11.11.2021.       11/11/2021
78  The big event is planned for 2023/07/04, so ma...       04/07/2023
79      Her graduation day is set for May 30th, 2022.       30/05/2022
86  The critical deadline is 2020.12.15, please no...       15/12/2020
87  The New Year's Eve party is on 31-12-2022, joi...       31/12/2022
88  The next workshop is on February 29, 2024, due...       29/02/2024
89  Vacation officially starts on 07/15/2021, get ...       15/07/2021
91  The tournament begins on June 1st, 2021, early...       01/06/2021
93     The music concert is scheduled for 2020/09/09.       09/09/2020
94  The exam will be held on 01.01.2022, start pre...       01/01/2022

         Extracted Date
0   No valid date found
5   No valid date found
6   No valid date found
7   No valid date found
9   No valid date found
12  No valid date found
13  No valid date found
14  No valid date found
15           08/31/2021
18  No valid date found
19  No valid date found
20           03/14/2022
21  No valid date found
23  No valid date found
25           12/25/2019
26  No valid date found
27  No valid date found
28  No valid date found
29  No valid date found
36  No valid date found
37  No valid date found
38  No valid date found
39           07/15/2021
41  No valid date found
43  No valid date found
44  No valid date found
50  No valid date found
51  No valid date found
56  No valid date found
57  No valid date found
58  No valid date found
59  No valid date found
60  No valid date found
62  No valid date found
63  No valid date found
64  No valid date found
65           08/31/2021
67  No valid date found
68  No valid date found
69  No valid date found
70           03/14/2022
71  No valid date found
73  No valid date found
75           12/25/2019
76  No valid date found
77  No valid date found
78  No valid date found
79  No valid date found
86  No valid date found
87  No valid date found
88  No valid date found
89           07/15/2021
91  No valid date found
93  No valid date found
94  No valid date found